{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="site-hero-content">
           <h1>{{.heading}}</h1>
           <p>{{.tagline}}</p>
           <div class="site-hero-extrait row align-items-center">
             <div class="col-lg-8">
               <p>{{.extrait}}</p>
             </div> 
             <div class="col-lg-4">
               <img src="{{.photo_url}}" alt="">
             </div> 
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-auto text-center mt-4">
          <a href="/contact" class="btn btn-primary">
            Me contacter 
          </a>
        </div>
      </div>
      
    </div>

  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}